<h1>Deposit</h1>
<%= form_tag balance_trader_path(@trader) do %>
  <div class="form-group">
    <%= label_tag :init_balance, "Amount:" %>
    <%= text_field_tag :init_balance %>
  </div>

  <%= submit_tag "Deposit" %>
<% end %>
