<h1>This is the admin page</h1>

<h2>All Users</h2>

<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<%# this method is only for creating initial admin %>
<%= button_to "Grant Admin", grant_admin_admin_path, method: :patch, data: { confirm: "Are you sure you want to grant admin status to this user?" } %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
