.admin-navbar {
  border: 2px solid #0ef;
  border-radius: 5px;
  height: 60vh;
  top: 5em;
  position: sticky;
  padding: 1em 0;
  background: #0d2d42;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.admin-navbar-routes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-item {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.nav-item:hover {
  background: #0ef;
  color: #1a5276;
  cursor: pointer;
}

.admin-navbar .bx {
  font-size: 25px;
}

.admin-account-btns {
  width: 100%;
}

.logout-btn {
  width: 100%;
  border: none;
  outline: none;
  background: #0ef;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.logout-btn:hover {
  background: #f0a500;
}

.admin-navbar .nav-item-text:hover:first-child {
  cursor: pointer;
}

.admin-navbar .nav-item-text {
  opacity: 0;
  max-width: 0;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.admin-navbar .nav-item-text.active {
  opacity: 1;
  max-width: 130.3px;
}
