.admin-form-container {
  position: relative;
  width: 550px;
  height: 650px;
  background: transparent;
  border: 2px solid #0ef;
  overflow: hidden;
  box-shadow: 0 0 25px #0ef;
  color: #fff;
  margin-top: 3em;
  padding-top: 40px;
}

.admin-form-container h2 {
  font-size: 32px;
  text-align: center;
}

.admin-form-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background: transparent;
}

.admin-form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.admin-form-box .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  padding-right: 23px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: 0.5s;
}

.admin-form-box .form-btn {
  margin-top: 20px;
}
