.approved-traders-wrapper,
.pending-traders-wrapper {
  width: 90%;
  /* max-height: 50%; */
  display: flex;
  flex-direction: column;
  color: #fff;
}

.approved-traders-wrapper {
  margin-top: 2em;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #0ef;
  padding: 10px 0;
  color: #081b29;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.list-header a span {
  display: flex;
}

.list-header span {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  border: 2px solid #081b29;
  border-radius: 100%;
}

.list-header i {
  position: absolute;
  right: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px;
  border-radius: 100%;
  transition: 0.5s;
}

.list-header i:hover {
  background: #fff;
}

.approved-traders-list,
.pending-traders-list {
  flex-grow: 1;
  overflow: auto;
  background: #081b29;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  scrollbar-width: thin; /* Customize the scrollbar width */
  scrollbar-color: #0ef #081b29; /* Customize the scrollbar colors */
  overflow: auto; /* Hide overflow content */
  max-height: 1000px;
  transition: 0.7s ease; /* Apply transition effect */
  /* display: block; */
}

.approved-traders-list.hidden,
.pending-traders-list.hidden {
  max-height: 0;
  /* display: none; */
}

.pending-traders-list::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.pending-traders-list::-webkit-scrollbar-thumb {
  background-color: #0ef; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

.pending-traders-list::-webkit-scrollbar-track {
  background-color: #081b29; /* Set the color of the scrollbar track */
}

.approved-trader-link,
.trader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid #fff;
  font-size: 1.3rem;
}

.trader:hover {
  background: rgba(255, 255, 255, 0.1);
}

.approved-trader-link {
  border-bottom: 0;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.trader .approved-trader-link span,
.trader > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 50px;
}

.trader.approved-list-header {
  text-align: center;
  background: #0ef;
  color: #081b29;
  font-weight: 700;
  padding: 5px 30px;
}

.trader span:first-child {
  flex: 0.5;
}

.trader span:not(:first-child) {
  flex: 1;
}

.trader-data span:nth-child(4) {
  text-align: right;
  padding-right: 3.5em;
}

.trader-btns-wrapper {
  display: flex;
  justify-items: space-evenly;
  align-items: center;
  gap: 1em;
  width: 20%;
}

.trader .balance-btn,
.trader .revoke-btn,
.trader .approve-btn {
  /* flex-shrink: 0; */
  text-align: center;
  border: none;
  background: #28a745;
  color: #fff;
  padding: 5px 16px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  white-space: nowrap;
}

.trader .revoke-btn {
  background: #f0a500;
}
