.page-header {
  align-self: start;
  margin-left: 15px;
  color: #fff;
}

.account-details-wrapper {
  margin-top: 1em;
  color: #081b29;
  width: 90%;
  height: 25%;
  background: #0ef;
  padding: 1em 3em;
  border-radius: 1em;
  display: flex;
  gap: 3em;
  position: relative;
  overflow: hidden;
}

.account-details-wrapper .account-photo {
  font-size: 8em;
  align-self: center;
  border: 10px solid #0ef;
  background: #fff;
  color: #081b29;
  border-radius: 100%;
  padding: 10px;
  z-index: 2;
}

.account-details-wrapper .account-text-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 15px;
  font-size: 1.2rem;
  margin-bottom: 1em;
  z-index: 2;
}

.account-details-wrapper .account-text-info h2 {
  color: #fff;
}

.divider {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #081b29;
  top: 0;
  left: 0;
}

.account-details-wrapper .edit-btn {
  font-size: 2.5rem;
  color: #0ef;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s ease;
}

.account-details-wrapper .edit-btn:hover {
  background: #fff;
  color: #081b29;
}

.transaction-list-wrapper {
  margin-top: 1em;
  flex-grow: 1;
  width: 90%;
  color: #fff;
}

.transaction-list-headers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #0ef;
  padding: 10px 70px;
  color: #081b29;
  border-radius: 10px 10px 0 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.transactions-list {
  flex-grow: 1;
  overflow: auto;
  background: #081b29;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  scrollbar-color: #0ef #081b29;
  overflow: auto;
}

.transactions-list::-webkit-scrollbar {
  width: 8px;
}

.transactions-list::-webkit-scrollbar-thumb {
  background-color: #0ef;
  border-radius: 4px;
}

.transactions-list::-webkit-scrollbar-track {
  background-color: #081b29;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid #fff;
  font-size: 1.3rem;
}

.transaction:hover {
  background: rgba(255, 255, 255, 0.1);
}

.transaction span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  flex: 1;
}

.transaction span.buy,
.transaction span.sell {
  border-radius: 10px;
  width: 10px;
  text-transform: uppercase;
}

.transaction span.buy {
  background: #28a745;
}

.transaction span.sell {
  background: #f02c00;
}

.transaction-list-headers span {
  flex: 1;
  text-align: center;
}
