.main-custom-container .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-custom-container .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 80px;
}

.main-custom-container .info-text.login .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--j));
}

.main-custom-container.active .info-text.login .animation {
  transform: translateX(122%);
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  filter: blur(10px);
}

.main-custom-container .info-text.register {
  left: 0;
  text-align: left;
  padding: 0 80px 60px 30px;
  pointer-events: none;
}

.main-custom-container.active .info-text.register {
  pointer-events: auto;
}

.main-custom-container .info-text.register .animation {
  transform: translateX(-122%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--j));
}

.main-custom-container.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.info-text h2 {
  font-size: 36px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.main-custom-container .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #081b29, #0ef);
  border-bottom: 3px solid #0ef;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.main-custom-container.active .bg-animate {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

.main-custom-container .bg-animate2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: #081b29;
  border-top: 3px solid #0ef;
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}

.main-custom-container.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}
