.main-custom-wrapper {
  /* margin: 0;
  padding: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081b29;
  min-height: 100vh;
}

.main-custom-container {
  position: relative;
  width: 750px;
  height: 450px;
  background: transparent;
  border: 2px solid #0ef;
  overflow: hidden;
  box-shadow: 0 0 25px #0ef;
}

.main-custom-container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-custom-container .form-box.login {
  left: 0;
  padding: 0 40px 0 60px;
}

.main-custom-container .form-box.login .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--j));
}

.main-custom-container.active .form-box.login .animation {
  transform: translateX(-122%);
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  filter: blur(10px);
}

.form-box h2 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  padding-right: 23px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: 0.5s;
}

/* input fields should have attribute required for this to work */
.input-box input:focus,
.input-box input:valid {
  border-bottom-color: #0ef;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

/* input fields should have attribute required for this to work */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #0ef;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}

/* input fields should have attribute required for this to work */
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #0ef;
}

.form-btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.form-btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
  z-index: -1;
  transition: 0.5s;
}

.form-btn:hover::before {
  top: 0;
}

.form-box .logreg-link {
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p span {
  color: #0ef;
  cursor: pointer;
  font-weight: 600;
}

.logreg-link p span:hover {
  text-decoration: underline;
}

.main-custom-container .form-box.register {
  right: 0;
  padding: 15px 40px 5px 60px;
  pointer-events: none;
}

.main-custom-container.active .form-box.register {
  pointer-events: auto;
}

.main-custom-container .form-box.register .animation {
  transform: translateX(122%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(12px);
  transition-delay: calc(0.1s * var(--j));
}

.main-custom-container.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.form-box.register .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 25px 0;
}
