.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #0ef;
}

.table-stock-id {
  display: flex;
  gap: 1.5em;
}

.table-stock-id .stock-text-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stock-text-info .stock-symbol {
  font-size: 1.3rem;
  font-weight: 600;
}

.stock-text-info .company-name {
  font-size: 0.9rem;
  color: #a4a4a4;
}

.table-data {
  pointer-events: fill;
}

.stock-list td {
  padding: 0;
}

.stock-list th:first-child,
.stock-list td:first-child {
  width: 23%;
  padding-left: 30px;
}

.stock-list th:not(:first-child),
.stock-list td:not(:first-child) {
  text-align: right;
}

.stock-list th:last-child,
.stock-list td:last-child {
  text-align: center;
}

.stock-list td a {
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  display: block;
}

.stock-list .table-stock-id {
  display: flex;
}

.stock-list .trader-buy-btn {
  border: 1px solid #28a745;
  border-radius: 5px;
  color: #28a745;
  display: inline;
  padding: 5px 10px;
}
