.non-approved-message {
  width: 101%;
  background: linear-gradient(
      97.12deg,
      rgba(255, 215, 72, 0.5) 0.93%,
      rgba(247, 166, 0, 0.5)
    ),
    #fff;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.trader-assets-container {
  width: 90%;
  background: #081b29;
  color: #fff;
  margin: 2em 0;
  padding: 2em;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.trader-assets-container span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trader-assets-container p {
  font-size: 1.5rem;
  padding-left: 1em;
}

.deposit-btn {
  background: #f7a600;
  text-decoration: none;
  color: #121214;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 1.3rem;
}

.table-title {
  text-align: center;
  padding: 10px 0;
  width: 90%;
  border-radius: 10px 10px 0 0;
  border: 2px solid #0ef;
  background: #0ef;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.stock-list-table {
  border-radius: 0 0 10px 10px;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #0ef;
}

.table-stock-id {
  display: flex;
  gap: 1.5em;
}

.table-stock-id .stock-text-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stock-text-info .stock-symbol {
  font-size: 1.3rem;
  font-weight: 600;
}

.stock-text-info .company-name {
  font-size: 0.9rem;
  color: #a4a4a4;
}

.table-data {
  pointer-events: fill;
}

.stock-list td {
  padding: 0;
}

.stock-list th:first-child,
.stock-list td:first-child {
  width: 23%;
  padding-left: 30px;
}

.stock-list th:not(:first-child),
.stock-list td:not(:first-child) {
  text-align: right;
}

.stock-list th:last-child,
.stock-list td:last-child {
  text-align: center;
}

.stock-list td a {
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  display: block;
}

.stock-list .table-stock-id {
  display: flex;
}

.stock-list .trader-buy-btn {
  border: 1px solid #28a745;
  border-radius: 5px;
  color: #28a745;
  display: inline;
  padding: 5px 10px;
}
