<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news!, <%= @trader.first_name %></h1>
    <p>
      Thanks you for your patience. After verifying your credentials, 
      your account has been approved. You can now start trading on Stock-App.com
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
