<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Welcome to StockPulse!</title>
  </head>
  <body>
    <h1>Welcome aboard, <%= @trader.first_name %>!</h1>
    <p>
      We're thrilled to inform you that your account on StockPulse has been successfully approved. Your patience throughout the verification process is greatly appreciated.
    </p>
    <p>
      You're now ready to dive into the exciting world of trading. Click the link below to log in and start exploring our platform:
    </p>
    <p>
      <a href="<%= @url %>">Log in to StockPulse</a>
    </p>
    <p>
      If you have any questions or need assistance, feel free to reach out to our support team. We're here to help!
    </p>
    <p>Thank you for choosing StockPulse. Wishing you success and prosperity in your trading journey!</p>
    <p>Best regards,<br>The StockPulse Team</p>
  </body>
</html>
