<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome <%= @user.first_name %>!</h1>
  <p>You can confirm your account email through the link below:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>Please note that your account is currently pending administrator approval.
    You will receive another email once your account has been approved.
    If you have any questions, please contact us.</p>
</body>
</html>
