<div class="registration-page-wrapper">
  <div class="form-wrapper">
    <%= render "form" %>

    <%= render "devise/shared/links", resource_name: resource_name, devise_mapping: @devise_mapping %>
  </div>
</div>